# {{ ansible_managed }}
<VirtualHost *:80>

  ServerAdmin {{ site.admin_email }}
  DocumentRoot {{ site.document_root }}
  ServerName {{ site.domain_name }}
  ServerAlias www.{{ site.domain_name }}

  <Directory {{ site.document_root }}>
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php/php7.2-fpm.sock|fcgi://localhost/"
  </FilesMatch>      

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  # Possible values: debug, info, notice, warn, error, crit, alert, emerg.
  LogLevel warn

</VirtualHost>
