# {{ ansible_managed }}
<VirtualHost *:{{ http_port }}>

  ServerAdmin {{ admin_email }}
  DocumentRoot {{ document_root }}
  ServerName {{ domain_name }}
  ServerAlias www.{{ domain_name }}

  <Directory {{ document_root }}>
    Options -Indexes +FollowSymLinks +MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php/php7.2-fpm.sock|fcgi://localhost/"
  </FilesMatch>      

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  # Possible values: debug, info, notice, warn, error, crit, alert, emerg.
  LogLevel warn

</VirtualHost>
